header {
  height: 160px;
  background-color: #e64414;
}

h1 {
  padding: 40px 0;
  color: #fff;
  font-size: 80px;
}

section {
  width: 70%;
  margin: 112px auto 30px;
  background-color: #fff;
}

h2 {
  padding: 90px 40px;
  color: #565656;
  font-size: 80px;
}

h3 {
  padding: 75px 40px 55px;
  color: #e64414;
  font-size: 40px;
}

h4 {
  padding-top: 10px;
  color: #565656;
  font-size: 30px;
}

p {
  padding-top: 20px;
  font-size: 20px;
}

body {
  background-color: #F0EEEC;
  font-family: Lexend, sans-serif;
}

nav{
  width: 70%;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

li {
  padding-top: 40px;
  font-size: 30px;
}

a {
  color: #565656;
  text-decoration: none;
}

article {
  height: 80px;
  padding: 40px;
  border-top: #565656 solid 1px;
  color: #565656;
}

iframe {
  position: relative;
  top: -800px;
  left: 88%;
  width: 15%;
  height: 800px;
  border: none;
}