.header-elements {
  display: flex;
  width: 70%;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.nav-background {
  height: 112px;
  background-color: #fff;
}

.teaser {
  height: 250px;
    flex: 1;
}

.news {
  height: fit-content;
  margin: 0 auto;
}

.video-container {
  position: absolute;
  width: 640px;
  height: 320px;
  margin: 20px 0 0 20px;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}